body {
    font-family: "Poppins", sans-serif;
}

/* CABEÇALHO */

header {
text-align: center;
padding: 15px;
font-weight: 600;
background: #ffffff;
box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
}

/* MAIN - PARTE PRINCIPAL */

main {
margin: 0 70px;
}

/* FILTROS */

.filtersContainer {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 0;
}

#botoesContainer {
display: flex;
}

.estiloGeralBotoes {
border: 1.5px solid rgba(18, 184, 134, 0.05);
background: rgba(18, 184, 134, 0.05);
border-radius: 8px;
padding: 10px 20px;
cursor: pointer;
font-weight: 500;
color: #12b886;
font-size: 0.9rem;
margin-right: 10px;
}

.estiloGeralBotoes--filter:hover {
background-color: #12b886;
color: #ffffff;
transition: ease-in-out 0.2s;
}

.botoesClickStyle {
background-color: #12b886;
color: #ffffff;
}

.containerBuscaPorNome {
display: flex;
justify-content: space-between;
}

.campoBuscaPorNome {
border: none;
padding: 0 10px;
background: #f1f3f5;
border-radius: 8px;
margin-right: 5px;
width: 250px;
color: #515252;
font-weight: 400;
}

.estiloGeralBotoes--botaoBuscaPorNome {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 15px;
gap: 10px;
background: #12b886;
border: 1.5px solid #12b886;
border-radius: 8px;
}

/* VALOR TOTAL */

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px 20px;
}

.priceContainer div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.priceContainer div img {
    width: 2rem;
}

.priceContainer span {
    background-color: #212529;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

/*CONTAINER VITRINE*/
.biriri{
    display: flex;
    gap: 15px;  
}
.containerVitrine {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    border-radius: 50px 0;
    flex-wrap: wrap;
}

/* CONTAINER DE PRODUTOS */

.containerListaProdutos {
width: 100%;
}

.containerListaProdutos ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 40px;
}

.containerListaProdutos ul li {
border-radius: 8px;
transition: ease-in-out 0.1s;
width: calc(95% / 4);
margin-bottom: 30px;
}

.containerListaProdutos ul li:hover {
box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li img {
width: 100%;
}

.containerListaProdutos ul li h3 {
font-size: 1rem;
font-weight: 500;
margin: 10px 0 5px;
color: #212529;
}

.containerListaProdutos ul li p {
font-size: 0.7rem;
color: #868e96;
font-weight: 400;
margin: 6px 0;
}
.containerListaProdutos ul li span {
font-size: 0.8rem;
font-weight: 500;
/* margin-top: 10px; */
margin-bottom: 10px;
display: inline-block;
color: #868e96;
}
.containerListaProdutos ul li ol {
list-style: decimal;
color: #868e96;
font-size: 12px;
margin-left: 15px;
}
.containerListaProdutos ul li ol li {
margin: 0;
width: 100%;
}
.containerListaProdutos ul li button {
background-color: #12b8860d;
border-radius: 8px;
border: #12b8860d 1px solid;
color: #12b886;
padding: 5px;
transition: 0.5s;
}
.containerListaProdutos ul li button:hover {
background-color: #12b886;
border: #12b886 1px solid;
color: white;
}
.containerListaProdutos ul li div {
display: flex;
justify-content: space-between;
padding: 5px;
}
 
/* carrinho */
.carrinho{
    width: 278px;
    height: 300px;
    box-sizing: border-box;
    margin-top: 44px;
}
.carrinho__header{
    display: flex;
    background: #12B886;
    justify-content: flex-start;
    padding: 16px 20px 11px;
    border-radius: 8px 8px 0 0;
    gap: 13px;
    overflow: hidden;
    width: 100%;
}
.carrinho__header p{
    color: #FFFFFF;
}
.carrinho__corpo{
    overflow-y: auto;
    max-height: 450px;
}
.carrinho__corpo--vazio{
    
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 100%;

}
.carrinho__corpo--produto{
    display: flex;
    gap: 10px;
    margin: 8px 0 10px 0;
}
.carrinho__corpo--produto > div img{
    object-fit: cover;
    width: 100px;
}
.mainCarrinho{
    display: flex;
    margin: 0;
    justify-content: space-between;
    width: 159px;
}
.mainCarrinho__descricao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.mainCarrinho__descricao h2{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.mainCarrinho__descricao p{
    font-size: 12px;
    line-height: 16px;
    color: #868E96;
}
.mainCarrinho__descricao h4{
    color: #212529;
    line-height: 24px;
    font-size: 14px;
}   
#trash{
    object-fit: cover;
    width: 15px;
    margin-top: 4px;
}

#bag{
    object-fit: cover;
    width: 40px;
}
.valorTotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 22px 0 13px;
    font-size: 12px;
    font-weight: 500;
}
.qtd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 22px 0 13px;
    font-size: 12px;
    font-weight: 500;
    background-color: #F8F9FA; 
}

@media (max-width: 768px){

    .filtersContainer{
        display: block;
    }
    .biriri{
        display: block;
    }
    .priceContainer{
        display: none;
    }
    .containerBuscaPorNome{
        justify-content: flex-start;
        margin-top: 15px;
    }
    .containerListaProdutos ul{
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-top: 0px;
    }
    .containerListaProdutos ul li{
        min-width: 215.34px;
    }
    .containerVitrine{
        width: 100%;
    }
    #botoesContainer{
        overflow-x: auto;
        
    }
    .estiloGeralBotoes{
        min-width: 143.5px;
    }
    .estiloGeralBotoes--botaoBuscaPorNome{
        min-width: 20px;
    }
    .carrinho{
        margin: 0 auto
    }
    main{
        margin: 0 10px;
    }
}